body{
background-color: rgb(62, 123, 125);

}
form{
padding: 12px;
    font-size: 30px;
}
button{

    padding: 12px;
    border-radius: 10px ;
   border-color: rgb(73, 175, 175);
}
input{
    font-size:25px;
    border-radius: 8px;
    border-color: aqua;
    
}
